[Desktop Entry]
Version=1.0
Name=Yandex Messenger
Name[ru]=Яндекс Мессенджер
GenericName=Messenger
GenericName[ru]=Мессенджер
Comment=Native Yandex Messenger for Linux
Comment[ru]=Нативный Яндекс Мессенджер для Linux
Exec=yandex-messenger
TryExec=yandex-messenger
Icon=yandex-messenger
Terminal=false
Type=Application
Categories=Network;InstantMessaging;Chat;
MimeType=x-scheme-handler/ychat;
StartupNotify=true
StartupWMClass=ru.yandex.yamb
Keywords=messenger;chat;telemost;yandex;яндекс;мессенджер;
Actions=NewWindow;

[Desktop Action NewWindow]
Name=New Window
Name[ru]=Новое окно
Exec=yandex-messenger
